<%- include('layout.ejs') %>

/* <Ivan Prikhodko 301261209 COMP229_402> */ 

<h2>About Me</h2>
<h3>Ivan Prikhodko</h3>
<img src="/img/me.jpg" alt="Ivan Prikhodko" class="profile-image">
<p>I live in Montreal and work for the Canadian Forces as a Finance Administrator. I am passionate about web development and constantly strive to expand my skills and knowledge in this field. In addition to my professional pursuits, I am a proud parent to a one-year-old daughter.</p>

<a href="/resume/Ivan_Prikhodko.pdf" target="_blank" class="resume-link">View Resume</a>