<%- include('layout') %>

/* <Ivan Prikhodko 301261209 COMP229_402> */ 

<h1>Welcome to My Portfolio</h1>
<p>Thank you for visiting! I'm passionate about learning web development!</p>

<p>My mission is learn as much as I can about web development!.</p>

<a href="/about" class="btn">Learn More</a>