<%- include('layout') %>

/* <Ivan Prikhodko 301261209 COMP229_402> */ 

<h2>Services</h2>

<ul class="service-list">
  <li>
    <h3>Data Analysis</h3>
    <p>Performing data analysis and interpretation to extract insights and make data-driven decisions.</p>
  </li>
  <li>
    <h3>Data Visualization</h3>
    <p>Creating visually appealing and interactive data visualizations to communicate complex information effectively.</p>
  </li>
  <li>
    <h3>Data Cleaning and Preparation</h3>
    <p>Transforming and cleansing data to ensure accuracy, consistency, and reliability for analysis purposes.</p>
  </li>
</ul>